# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Cypress artifacts
cypress/videos/
cypress/screenshots/
cypress/downloads/

# Cypress cache
.cypress/

# Env files
.env
.env.local
.env.*.local

# OS junk
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
logs
*.log

# Coverage
coverage/

# Build
dist/
build/

# Mac/Linux temp
*.swp
*.swo
