name: Cypress Tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm ci

      - name: Run Cypress
        run: npx cypress run

      - name: Upload results
        uses: actions/upload-artifact@v4
        with:
          name: cypress-report
          path: cypress/videos
